.container
  = form_for @meal, html: { multipart: true } do |f|
    %h5 Product:
    = f.collection_select :product_id, Product.all, :id, :select_title, prompt: true
    = f.hidden_field :meal_type
    %h5 Quantity:
    = f.text_field :quantity, class: 'form-control'
    %br
    %h5 Calories:
    = f.text_field :calories, class: 'form-control'
    %br
    -#%h5 Eaten on:
    -#= f.date_select :eaten_on, class: 'form-control'
    -#%br
    = f.hidden_field :eaten_on
    = f.submit "Wyślij", class: 'btn btn-default'
