.container
  %h3= link_to 'Dodaj posiłek', new_meal_path
  .row
    .col-md-4
      %h1 Lista posiłków
    .col-md-8
      %table.table.table-bordered
        %tr.success
          %th Id:
          %th Name:
          %th Meal type:
          %th Calories:
          %th Category:
          %th Usuń:
        - @meals.each do |meal|
          %tr
            %td= meal.id
            %td= link_to meal.name, meal_path(meal)
            %td= meal.meal_type
            %td= meal.calories
            %td= meal.category
            %td= link_to "X", meal_path(meal), method: :delete, data: {confirm: 'Jesteś pewnien?'}
