.container.show-meal
  .back= link_to 'Cofnij', root_path
  %h1 Meal

  = link_to 'Edit meal', edit_meal_path(@meal)
  = link_to "Delete", meal_path(@meal), method: :delete, data: {confirm: 'Are you sure?'}, class: 'delete'

  %table.table.table-striped
    %tr.success
      %th Name:
      %th Quantity:
      %th Meal type:
      %th Calories:
      %th Category:
      %th Eaten on:
    %tr
      %td= @meal.name
      %td= @meal.quantity
      %td= @meal.meal_type
      %td= @meal.calories
      %td= @meal.category
      %td= @meal.eaten_on
