.container.activity-index
  .back= link_to 'Back', root_path
  %h3 Activities:
  %span= link_to 'Add more activities', new_activity_path
  %table.table.table-sm
    %thead
      %tr
        %th{:scope => "col"} #
        %th{:scope => "col"} Activity type
        %th{:scope => "col"} Duration
        %th{:scope => "col"} Completed on
        %th{:scope => "col"} Delete
    %tbody
      - @activities.each_with_index do |activity, index|
        %tr
          %td{:scope => "row"}= index + 1
          %td= link_to activity.activity_type, activity_path(activity)
          %td= activity.duration
          %td= activity.completed_on
          %td= link_to "X", activity_path(activity), method: :delete, data: {confirm: 'Jesteś pewnien?'}
