= form_for @product, remote: true do |f|
  .modal#productModal
    .modal-dialog
      .modal-content
        .modal-header
          .modal-title Create product
        .modal-body
          %h5 Name
          = f.text_field :name, class: 'form-control'

          %h5 Category
          = f.collection_select :category_id, Category.order(:name), :id, :name, {prompt: true}, class: 'form-control'

          %h5 Calories per 100g
          = f.number_field :calories_per_100, class: 'form-control'

        .modal-footer
          %button.btn.btn-secondary{ "data-dismiss" => "modal" } Close
          = f.submit class: 'btn btn-primary'
